<div class="create_invoice" flexLayout="column" style="display:flex;flex-direction: column;">
  
    <div class="panel" style="flex:auto;margin:10px">
        <mat-card class="mat-elevation-z8">
            <mat-card-header>
              <mat-card-title>Invoice Header</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="example-container">

                <mat-form-field appearance="fill"  *ngIf="update">
                  <mat-label>Invoice No</mat-label>
                  <input matInput type="text" [(ngModel)]="invoiceSummary.invoiceId">
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Client</mat-label>
                  <mat-select [(ngModel)]="invoiceSummary.clientId">
                    <mat-option  *ngFor="let client of client_option"  [value]="client.id">
                      {{client.name}}
                    </mat-option>
                  </mat-select>
                  <mat-hint align="end">Select Client Name</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Quotation No</mat-label>
                  <input matInput type="text" [(ngModel)]="invoiceSummary.quotationNo">
                </mat-form-field>
              
                
                <mat-form-field appearance="fill">
                  <mat-label>Choose a Invoice date</mat-label>
                  <input matInput [matDatepicker]="picker"  (dateChange)="changeEvent($event)">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>ReferenceNo</mat-label>
                  <input matInput type="text" [(ngModel)]="invoiceSummary.referenceNo">
                </mat-form-field>
                
                <!-- <mat-form-field appearance="fill">
                  <mat-label>Choose a Reference date</mat-label>
                  <input matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> -->
              </div>

              <div>
                

              </div>

            </mat-card-content>
          </mat-card>
    </div>
    
    <div class="items_grid" fxLayout="column" fxLayoutGap="10px" style="width:100%; margin:0 10px 0">
        <div>
           <button mat-button (click)="openDialog('Add',{})" 
          style="margin:10px;float:left;"mat-flat-button color="primary">Add Item</button>
          <button mat-button (click)="refresh()" 
          style="margin:10px;float:left;"mat-flat-button color="primary">Refresh</button>
        </div>
        
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="no">
              <mat-header-cell *matHeaderCellDef> Sr.no </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="No"> {{element.no}} </mat-cell>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
              <mat-cell *matCellDef="let element"  data-label="Description"> {{element.name}}  </mat-cell>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="price">
              <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
              <mat-cell *matCellDef="let element"  data-label="Price"> {{element.price}}  </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="qty">
              <mat-header-cell *matHeaderCellDef> Qty </mat-header-cell>
              <mat-cell *matCellDef="let element"  data-label="Qty"> {{element.qty}}  </mat-cell>
            </ng-container>
          
           <!-- Weight Column -->
           <ng-container matColumnDef="non_tax">
            <mat-header-cell *matHeaderCellDef> Non Tax Amount </mat-header-cell>
            <mat-cell *matCellDef="let element"  data-label="Non Tax Amount"> {{element.non_tax_amt}}  </mat-cell>
          </ng-container>

             <!-- Weight Column -->
             <ng-container matColumnDef="igst">
              <mat-header-cell *matHeaderCellDef>IGST </mat-header-cell>
              <mat-cell *matCellDef="let element"  data-label="IGST"> {{element.igst}}  </mat-cell>
            </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="cgst">
                <mat-header-cell *matHeaderCellDef>CGST </mat-header-cell>
                <mat-cell *matCellDef="let element"  data-label="CGST"> {{element.cgst}}  </mat-cell>
              </ng-container>

                <!-- Weight Column -->
             <ng-container matColumnDef="sgst">
              <mat-header-cell *matHeaderCellDef>SGST </mat-header-cell>
              <mat-cell *matCellDef="let element"  data-label="SGST"> {{element.sgst}}  </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tax_amt">
              <mat-header-cell *matHeaderCellDef>Tax Amount </mat-header-cell>
              <mat-cell *matCellDef="let element"  data-label="Tax Amount"> {{element.tax_amt}}  </mat-cell>
            </ng-container>

            <ng-container matColumnDef="total_amt">
              <mat-header-cell *matHeaderCellDef>Total Amount </mat-header-cell>
              <mat-cell *matCellDef="let element"  data-label="Total Amount"> {{element.total_amt}} </mat-cell>
            </ng-container>

             <!-- Action Column -->
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
              <mat-cell *matCellDef="let element" class="action-link"  data-label="Action"> 
                <a (click)="openDialog('Update',element)">Edit</a> | 
                <a (click)="deleteRowData(element)">Delete</a>  
              </mat-cell>
            </ng-container>
          
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
          <div class="notfound" *ngIf="dataSource.length==0">
            <h2> No Records found</h2>
         </div>
          
    </div>

    <div style="flex:auto;margin:10px">
      <mat-card class="mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>Summary Total</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          
          <span class="mat-body mat-body-1">Total Value is Rs {{total_amt}}</span>
          <p></p>
          <span class="mat-body mat-body-1">Total Value in words Rs <b>{{priceWords}} </b></span>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click) ="submit()">Submit</button>
        </mat-card-actions>
        </mat-card>
    </div>
</div>
