<div fxLayout="column" style="padding:10px;" fxLayoutAlign="space-around center">
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap="10px" >
      <mat-form-field appearance="fill">
        <mat-label>Item</mat-label>
        <input matInput type="text" [(ngModel)]="data.name">
        <button mat-button *ngIf="data.name" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="fill" >
        <mat-label>Price</mat-label>
        <input matInput type="number" [(ngModel)]="data.price">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around"  fxLayoutGap="10px" >
      <mat-form-field appearance="fill">
        <mat-label>Qty</mat-label>
        <input matInput type="number" [(ngModel)]="data.qty">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>IGST</mat-label>
        <input matInput type="number" [(ngModel)]="data.igst">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between end"  fxLayoutGap="10px" >
      <mat-form-field appearance="fill">
        <mat-label>CGST</mat-label>
        <input matInput type="number" [(ngModel)]="data.cgst">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>SGST</mat-label>
        <input matInput type="number" [(ngModel)]="data.sgst">
      </mat-form-field>
    </div>

  </div>
  <div fxLayout="row" fxLayoutAlign="space-between end">
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </div>
</div>
