<h2 style="margin: 5px 10px 0px;">Invoice List</h2>
    <div fxLayout="column" fxLayoutGap="10px" style="margin: 0px 10px 0px;height:90%">
  <div>
    <button mat-button (click)="refresh()"
            style="margin:10px;float:left;" mat-flat-button color="primary">Refresh
    </button>
  </div>


  <div class="mat-elevation-z8" flex style="overflow-y: scroll;">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="invoiceId">
        <mat-header-cell *matHeaderCellDef> Invoice No</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Invoice Id"> {{element.invoiceId}}</mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="id">
       <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
       <mat-cell *matCellDef="let row" data-label="id"> {{row.cnt}} </mat-cell>
     </ng-container> -->

      <!-- Name Column -->
      <ng-container matColumnDef="invoiceDate">
        <mat-header-cell *matHeaderCellDef> Invoice Date</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Invoice Date"> {{element.invoiceDate | customDate}}</mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="clientName">
        <mat-header-cell *matHeaderCellDef> Client Name</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Client Name"> {{element.clientName}}</mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="totalAmount">
        <mat-header-cell *matHeaderCellDef> Total Amount(Rs)</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Total Amount (Rs)"> {{element.totalAmount}}</mat-cell>
      </ng-container>


      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
        <mat-cell *matCellDef="let element" class="action-link" data-label="Action">
          <a (click)="openDialog('Update',element)">Edit</a> |
          <a (click)="deleteRowData(element)"> Delete</a> |
          <a (click)="deleteRowData(element)"> Download</a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div class="notfound" *ngIf="dataSource.length==0">
      <h2> No Records found</h2>
    </div>
  </div>

   <!-- <div>
     <app-create-invoice></app-create-invoice>
   </div> -->
</div>


